.card{
    border: solid 1px rgb(104, 153, 40);
    padding: 10px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
    border: solid 10px black;
}